export(
  loadMAdata,
  runQC,
  extractFactors,
  diffExp,
  polarPlot,
  loadGSC,
  runGSA,
  GSAsummaryTable,
  geneSetSummary,
  networkPlot,
  consensusScores,
  consensusHeatmap,
  runGSAhyper,
  GSAheatmap,
  writeFilesForKiwi,
  exploreGSAres,
  networkPlot2
)

S3method(print, ArrayData)
S3method(print, GSC)
S3method(print, GSAres)

import(
  BiocGenerics,
  shiny
)

importFrom(Biobase, exprs, "exprs<-", featureNames, sampleNames)
importFrom(gplots, heatmap.2, venn)
importFrom(marray, maColorBar)
importFrom(relations, relation_class_ids, relation_consensus)
importFrom(grDevices, colorRampPalette, dev.new, dev.off, pdf, rainbow, col2rgb, rgb)
importFrom(graphics, abline, barplot, layout, legend, lines, mtext, par, plot, plot.new, points, text, title, axis, hist, rect)
importFrom(stats, fisher.test, median, model.matrix, p.adjust, pchisq, pnorm, prcomp, qnorm, rnorm, wilcox.test, dist, setNames)
importFrom(utils, capture.output, read.delim, write.table, installed.packages, stack, unstack, write.csv)
importFrom(igraph, graph.adjacency, ecount, vcount, ends, layout_with_fr, layout_with_lgl, layout_with_kk, layout_with_graphopt, layout_in_circle, layout_nicely,layout_as_star,layout_with_sugiyama, layout_on_grid, layout_as_tree, layout_on_sphere, layout_randomly, layout_with_dh, layout_with_gem, layout_with_mds)
importFrom(fgsea, fgsea)
importFrom(DT, selectRows, dataTableProxy)
importFrom(htmlwidgets, JS)
importFrom(shinyjs, useShinyjs, hidden, show, hide, showElement)
importFrom(shinydashboard, dashboardPage, dashboardHeader, dashboardSidebar, dashboardBody, box, tabBox)
importFrom(visNetwork, visNetwork, renderVisNetwork, visNetworkOutput, toVisNetworkData, visNodes, visLayout, visPhysics, visIgraphLayout, visExport, "%>%")
importFrom(scales, rescale)
importFrom(methods, is)
